.bundle
db/*.sqlite3
log/
log/*.log
tmp/
tmp/*
.sass-cache/
Gemfile.lock
.DS_Store

# Doc
doc/**/*.aux
doc/**/*.bbl
doc/**/*.blg
doc/**/*.idx
doc/**/*.lof
doc/**/*.log
doc/**/*.lot
doc/**/*.maf
doc/**/*.mtc
doc/**/*.mtc0
doc/**/*.toc
doc/**/*.synctex.gz
doc/qualification/qualification.pdf
