.bundle
db/*.sqlite3
log/
log/*.log
tmp/
tmp/*
.sass-cache/
Gemfile.lock
.DS_Store

# Doc
doc/**/*.aux
doc/**/*.log
doc/**/*.maf
doc/**/*.mtc
doc/**/*.mtc0
doc/**/*.synctex.gz
doc/qualification/qualification.pdf
